$main-color: #7e83cd;
$second-color: #fff;
$main-text-color: #5156be;
$second-text-color: #8e8e8e;
$third-text-color: #272c8c;
$shadow-color: #00000033;
$border-color: #0000001a;
//global style
.container-fluid {
  max-width: 1760px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.devo-navbar {
  margin: 90px 0px;
  .navbar-content {
    display: flex;
    justify-content: space-between;
  }
}
.mytabs {
  margin-bottom: 60px;
  .mytabs-content {
    box-shadow: 0px 5px 15px -4px $shadow-color;
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 30px;
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0px 20px;
      a {
        position: relative;
        color: $second-text-color;
        font-size: 20px;
      }
      a.active:after {
        content: "";
        display: block;
        position: absolute;
        margin: 5px 9px;
        width: 50%;
        height: 4px;
        border-radius: 20px;
        background-color: $main-text-color;
      }
    }
    .active {
      color: $main-text-color;
      background-color: transparent;
    }
  }
}
@media (max-width: 900px) {
  .navbar-content {
    .hello-content {
      display: none;
    }
  }
  .mytabs-content {
    padding: 20px !important;
    ul {
      overflow-x: scroll;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        // margin: 0px 30px;
      }
    }
  }
}
@media (max-width: 700px) {
  .mytabs-content {
    a {
      margin: 0px 20px;
    }
  }
}

.content {
  .mycard {
    box-shadow: 0px 0px 15px -4px $shadow-color;
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 25px 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-content {
      display: flex;
      flex-direction: column;
      span {
        font-size: 20px;
        color: $third-text-color;
      }
      p {
        font-size: 12px;
        color: $second-text-color;
      }
    }
  }
  .mycard:hover {
    background-color: $main-color;
    .card-content {
      span,
      p {
        color: $second-color;
      }
    }
  }
}
