body {
  background-color: #f9f9f9;
}

.container-fluid {
  max-width: 1760px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.devo-navbar {
  margin: 60px 0px;
}
.devo-navbar .mob-menu {
  display: none;
}
.devo-navbar .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devo-navbar .navbar-content .hello-content h3 {
  margin-top: 10px;
}
.devo-navbar .navbar-content .profile-info {
  display: flex;
  align-items: center;
}
.devo-navbar .navbar-content .profile-info i {
  font-size: 40px;
  color: #707070;
}
.devo-navbar .navbar-content .profile-info img {
  height: 40px;
}

.mytabs {
  margin-bottom: 60px;
}
.mytabs .mytabs-content {
  box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 30px;
}
.mytabs .mytabs-content ul {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
.mytabs .mytabs-content ul a {
  position: relative;
  color: #8e8e8e;
  font-size: 20px;
}
.mytabs .mytabs-content ul a.active:after {
  content: "";
  display: block;
  position: absolute;
  margin: 25px 12px;
  width: 60%;
  height: 4px;
  border-radius: 20px;
  background-color: #5156be;
}
.mytabs .mytabs-content .active {
  color: #5156be;
  background-color: transparent;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.menu .background-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 35, 53, 0.4);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.menu .sidenav {
  position: fixed;
  transform: translateX(500px);
  transition: all 0.5s ease-in-out;
  width: 300px;
  height: 100%;
  background-color: white;
}
.menu .menu-content .closebtn {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  font-size: 25px;
  color: #8e8e8e;
}
.menu .menu-content ul {
  padding: 0;
  margin-bottom: 20px;
}
.menu .menu-content ul li {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: -1px 4px 3px -4px rgba(0, 0, 0, 0.2);
}
.menu .menu-content ul li a {
  color: #8e8e8e;
  font-size: 20px;
}
.menu .menu-content ul li:hover {
  background-color: #7e83cd;
}
.menu .menu-content ul li:hover a {
  color: #fff;
}

.openNav {
  z-index: 11;
  visibility: visible !important;
}

.openNav .background-overlay {
  opacity: 1;
}

.openNav .sidenav {
  transform: translateX(0);
}

@media (max-width: 900px) {
  .mytabs {
    display: none;
  }
  .devo-navbar .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .devo-navbar .navbar-content .hello-content {
    display: none;
  }
  .devo-navbar .navbar-content .mob-menu {
    display: flex;
    font-size: 25px;
    color: #707070;
  }
  .devo-navbar .navbar-content .profile-info .profile {
    display: none;
  }
  .devo-navbar .navbar-content .profile-info .notif {
    display: flex;
    margin: 0 !important;
  }
  .devo-navbar .navbar-content .profile-info .notif i {
    font-size: 25px;
    color: #707070;
  }
}
.content {
  margin-bottom: 60px;
}
.content .mycard {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 25px 15px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.content .mycard .card-content {
  display: flex;
  flex-direction: column;
}
.content .mycard .card-content span {
  font-size: 20px;
  color: #272c8c;
}
.content .mycard .card-content p {
  font-size: 12px;
  color: #8e8e8e;
}
.content .mycard:hover {
  background-color: #7e83cd;
}
.content .mycard:hover .card-content span,
.content .mycard:hover .card-content p {
  color: #fff;
}

.card-exam {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 25px 15px;
  margin-bottom: 20px;
}
.card-exam .card-exam-content {
  display: flex;
  flex-direction: column;
}
.card-exam .card-exam-content .exam-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-exam .card-exam-content .exam-name span {
  font-size: 20px;
  color: #272c8c;
}
.card-exam .card-exam-content .exam-name p {
  font-size: 12px;
  color: #8e8e8e;
}
.card-exam .card-exam-content .exam-info {
  display: flex;
  justify-content: space-between;
  color: #272c8c;
}
.card-exam .card-exam-content .exam-info span {
  display: flex;
  align-items: center;
}
.card-exam .card-exam-content .exam-info span i {
  margin: 5px;
}

.card-exam:hover {
  background-color: #7e83cd;
}
.card-exam:hover .card-exam-content span,
.card-exam:hover .card-exam-content p,
.card-exam:hover .card-exam-content i {
  color: #fff;
}

.myvid {
  text-align: center;
  padding: 25px;
  margin-bottom: 60px;
  box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.2);
}

.vid-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */