$main-color: #7e83cd;
$second-color: #fff;
$background-color: #f9f9f9;
$notif-color: #707070;
$main-text-color: #5156be;
$second-text-color: #8e8e8e;
$third-text-color: #272c8c;
$shadow-color: #00000033;
$border-color: #0000001a;
//global style
body {
  background-color: $background-color;
}
.container-fluid {
  max-width: 1760px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.devo-navbar {
  margin: 60px 0px;
  .mob-menu {
    display: none;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hello-content {
      h3 {
        margin-top: 10px;
      }
    }
    .profile-info {
      display: flex;
      align-items: center;
      i {
        font-size: 40px;
        color: $notif-color;
      }
      img {
        height: 40px;
      }
    }
  }
}
.mytabs {
  margin-bottom: 60px;
  .mytabs-content {
    box-shadow: 0px 5px 15px -4px $shadow-color;
    border-radius: 6px;
    padding: 30px;
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0px 20px;
      a {
        position: relative;
        color: $second-text-color;
        font-size: 20px;
      }
      a.active:after {
        content: "";
        display: block;
        position: absolute;
        margin: 25px 12px;
        width: 60%;
        height: 4px;
        border-radius: 20px;
        background-color: $main-text-color;
      }
    }
    .active {
      color: $main-text-color;
      background-color: transparent;
    }
  }
}
// style of sidemenu
.menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 35, 53, 0.4);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .sidenav {
    position: fixed;
    transform: translateX(500px);
    transition: all 0.5s ease-in-out;
    width: 300px;
    height: 100%;
    background-color: white;
  }
  .menu-content {
    ul {
      margin: 20px 0px;
      li {
        display: flex;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 10px -4px $shadow-color;
        a {
          color: $second-text-color;
          font-size: 20px;
        }
        .closebtn {
          margin-inline-start: auto;
        }
      }
      li:hover {
        background-color: $main-color;
        a {
          color: $second-color;
        }
      }
    }
  }
}
.openNav {
  z-index: 11;
  visibility: visible !important;
}

.openNav .background-overlay {
  opacity: 1;
}

.openNav .sidenav {
  transform: translateX(0);
}

// style of sidemenu

@media (max-width: 900px) {
  .mytabs {
    display: none;
  }
  .devo-navbar {
    .navbar-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .hello-content {
        display: none;
      }
      .logo {
        margin-bottom: 60px;
      }
      .profile-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .profile {
          display: none;
        }
        .mob-menu {
          display: flex;
        }
      }
    }
  }
}

.content {
  .mycard {
    box-shadow: 0px 0px 15px -4px $shadow-color;
    border-radius: 6px;
    padding: 25px 15px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    .card-content {
      display: flex;
      flex-direction: column;
      span {
        font-size: 20px;
        color: $third-text-color;
      }
      p {
        font-size: 12px;
        color: $second-text-color;
      }
    }
  }
  .mycard:hover {
    background-color: $main-color;
    .card-content {
      span,
      p {
        color: $second-color;
      }
    }
  }
}
